@import "../../common/styles/mixins.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.modalInside {
  @include centerAbsolute;
  background: white;
  width: 80%;
  height: 80%;
  overflow: scroll;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
.modalContentContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.crossLink {
  position: absolute;
  top: -40px;
  right: -25px;
  display: table;
  text-decoration: none;
}

.cross {
  color: black;
  font-size: 30px;
}

.heading {
  @include heading;
}

.subheading {
  @include subheading;
}

.companyLogo {
  @include center;

  img {
    height: 80px;
    object-fit: scale-down;
  }
}
