@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  padding: 0 10px;
  box-shadow: -1px 1px 16px -9px $black;
  min-width: $header-width;

  .filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $standard-margin;
  }

  .heading {
    @include heading;
  }
}

.shortOffersContainer {
  padding: $header-height 10px 10px 10px;
}
