@import "../../common/styles/mixins.scss";

.input {
  height: 44px;
  width: 100%;
  padding-left: 11px;
  line-height: 22px;
  border-radius: 22px;
  border: 1px solid rgb(228, 232, 240);
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
  align-items: center;
  font-family: Open Sans, sans-serif;
  font-weight: 400;

  .magnifyingGlass {
    @include svg;
  }

  input {
    font: inherit;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    outline: none;
  }
}
