@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.input {
  height: $filter-control;
  flex: 1 0 auto;
  padding-left: 11px;
  line-height: $filter-control / 2;
  border-radius: $filter-control / 2;
  border: 1px solid $light-gray;
  background: $white;
  color: $black;
  cursor: text;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  font-weight: 400;

  .magnifyingGlass {
    @include svg;
  }

  input {
    font: inherit;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    outline: none;
  }
}
