@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.skillFilter {
  display: flex;
  flex-grow: 1;
  text-transform: none;
  color: $dark-gray;
  background: $white;
  border-color: $light-gray;
  min-width: 100px;
  width: 100%;
  margin-top: 5px !important;
  justify-content: space-between;
  height: $filter-control !important;
  outline: none;

  &::focus {
    outline: none !important;
  }
}
