@mixin svg {
  color: rgb(153, 161, 171);
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
}

@mixin filterOn {
  color: rgb(255, 64, 129) !important;
  border-color: rgb(255, 64, 129) !important;
  background: rgba(255, 64, 129, 0.08) !important;
}
