@mixin svg {
  color: rgb(153, 161, 171);
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
}

@mixin filterOn {
  color: rgb(255, 64, 129) !important;
  border-color: rgb(255, 64, 129) !important;
  background: rgba(255, 64, 129, 0.08) !important;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin centerAbsolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: rgb(119, 119, 119);
}

@mixin subheading {
  @include heading;
  font-size: 20px;
}
