// mobile breakpoints
$mobile: 576px;

// color variables
$light-gray: rgb(228, 232, 240);
$dark-gray: rgb(119, 119, 119);
$dark-pink: rgb(255, 64, 129);
$light-pink: rgba(255, 64, 129, 0.08);
$white: rgb(255, 255, 255);
$black: rgba(0, 0, 0, 0.87);
$translucent-black: rgba(0, 0, 0, 0.5);

// size variables
$filter-control: 44px;
$standard-margin: 20px;
$header-height: 190px;
$header-width: 370px;
