@import "../../common/styles/mixins.scss";

.heartContainer {
  width: 20px;
  height: 20px;
  display: "inline-block";
  cursor: pointer;

  svg {
    @include svg;
  }

  .red {
    fill: red;
  }

  .filter {
    width: 100%;
    height: 100%;
  }
}
