@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.heartContainer {
  cursor: pointer;

  svg {
    @include svg;
  }

  .red {
    fill: $dark-pink;
  }

  .filter {
    width: 100%;
    height: 100%;
  }
}
