@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.filterHeartContainer {
  @include center;
  height: $filter-control;
  width: $filter-control;
  padding: 7px;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid $light-gray;

  & > div {
    width: 100%;
    height: 100%;
  }
}

.filterOn {
  @include filterOn;
}
