@import "../../common/styles/mixins.scss";

.filterHeartContainer {
  height: 44px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 7px;
  margin-left: 5px;
  border-radius: 50%;
  border: 1px solid rgb(228, 232, 240);

  & > div {
    width: 100%;
    height: 100%;
  }
}

.filterOn {
  @include filterOn;
}
