@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.jobOfferShort {
  width: 100%;
  height: 86px;
  display: flex;
  padding: 0;
  overflow: hidden;
  box-shadow: -1px 1px 16px -9px $black;
  margin-bottom: $standard-margin;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;

  &:first-of-type {
    margin-top: $standard-margin;
  }

  .link {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }

  .companyLogo {
    display: flex;
    flex-basis: 150px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    img {
      height: 60px;
      width: 100px;
      object-fit: scale-down;
    }
  }

  .jobDetails {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 0;
    flex-direction: column;
    width: 100%;

    .jobTitle {
      font-weight: 600;
      text-align: left;
    }

    .workplaceDetails {
      display: flex;
      flex-direction: row;
      height: 24px;

      .companyLocationContainer {
        display: flex;
        flex: 1 0 auto;

        .company,
        .location {
          display: flex;
          align-items: center;

          svg {
            @include svg;
          }

          .companyName,
          .locationName {
            margin-left: 5px;
          }
        }
      }

      .type {
        margin-left: 5px;
        @include center;
      }
      .markets {
        overflow: hidden;
        span {
          background-color: $light-pink !important;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      .type,
      .markets {
        @media only screen and (max-width: $mobile) {
          display: none;
        }
      }
    }
  }

  .heartContainer {
    @include center;
    flex-basis: 50px;
    flex-shrink: 0;
  }
}
