.locationFilter {
  border-radius: 18px;
  text-transform: none;
  font-weight: 600;
  color: rgb(119, 119, 119);
  background: rgb(255, 255, 255);
  border-color: rgb(228, 232, 240);
  min-width: 160px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 6px;
}
