@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

/* ANTD ovverrides */
.ant-btn:hover,
.ant-btn:focus {
  color: inherit;
  border-color: inherit;
}

.locationFilter {
  border-radius: 50%/95% !important;
  text-transform: none;
  background: $white;
  border-color: $light-gray;
  min-width: 100px;
  margin-left: 5px;
  justify-content: space-between;
  height: 44px !important;

  span {
    color: $dark-gray;
  }
}

.filterOn {
  @include filterOn;
}
